*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 1872px;
    height: 90px;
    display: flex;
    padding:40px 200px;
    transition:0.6s;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    position: relative;
    list-style:none;
    display: flex;
    padding-left:150px;
    padding-right:300px;
}

nav ul li a{
    text-decoration: none;
    padding-left:90px;
    color: black;
    font-size:16px;
    font-weight: 550;
}
nav ul li a:hover{
    color: orangered;
    transition:0.3s;
}
nav .logo {
    margin-top:-20px;
    font-size:40px;
    letter-spacing:3px;
    font-weight:500;
    color: rgb(65, 62, 62);
}
nav .logo span{
    font-weight: bold;
    color: orangered;
    font-size:50px;
}
.icon a{
    padding-left:50px;
    color: black;
    font-size:20px;
}
.icon a:hover{
    color: orangered;
    transition:0.3s;
}
.slider{
    width: 1872px;
    height:650px;
    
}
.products{
    width: 1872px;
    height:500px;
    display:flex;
    background-color: rgb(242, 248, 248);
}
.items{
    width:340px;
    height:480px;
    background-color: rgb(242, 248, 248);
    margin-left:30px;
    margin-top:30px;
    border-radius:10px;
}

.items img{
    width:340px;
    height:300px;
    border-radius:10px;
}
.items img:hover{
    height:305px;
    transition:0.5s;
}
.items1{
    text-align: center;
    margin-top:10px;
    font-size:25px;
}
.items2{
    font-size:25px;
    margin-left:20px;
    margin-top:20px;
}
.items button{
    font-size:18px;
    margin-left:20px;
    margin-top:15px;
    width: 150px;
    border-radius:20px;
    color: rgb(0, 0, 0);
    
}
.items button:hover{
    background-color:rgb(108, 203, 237);
    color: rgb(0, 0, 0);
    width:155px;
    height:45px;
    transition:0.5s;
}
.items form{
    margin-top: 30px;
    margin-left:20px;
}
.items select{
    border: none;
    outline: none;
    font-size:23px;
    margin-left:10px;
    background-color: rgba(0, 0, 0, 0);
}
.items select option{
    font-size:20px;
    background-color: rgb(26, 26, 26);
    color: white;
}
.items label{
    font-size:25px;
}
.items input{
    font-size:18px;
    margin-left:18px;
    width: 150px;
    height:40px;
    border-radius:20px;
    margin-top:-10px;
    word-spacing:5px;
    color: rgb(0, 0, 0);
}
.items input:hover{
    background-color:rgb(108, 203, 237);
    color: rgb(0, 0, 0);
    width:155px;
    height:45px;
    transition:0.5s;
}
.shopnow{
    text-align:center;
    font-size:50px;
    margin-top:10px;
    margin-bottom:20px;
}
.services{
    width: 1872px;
    display:flex;
    padding-left:300px;
}
.services1 p{
margin-top:-80px;
margin-left:130px;
padding-right:10px;
font-size:20px;
font-weight: bold;
letter-spacing:2px;
word-spacing:10px;
}
.services1 span{
    margin-left:130px;
}
.circle{
    width:100px;
    height:100px;
    border-radius:50px;
    background-color: orangered;
    text-align: center;
    padding-top:20px;
    color: rgb(255, 255, 255);
    font-size:50px;
}

