@media screen and (max-width:1540px){
nav{
    width: 1515px;
    height: 70px;
    margin-top:-20px;
}
nav ul li a{
    font-size:12px;
    padding-left:60px;
}
nav .logo{
    margin-left:-100px;
    margin-top:-10px;
    font-size:20px;
} 
nav .logo span{
    font-size:30px;
}
.icon a{
    font-size:15px;
}
.slider{
    width: 1495px;
    height:550px;
}
}