@media screen and (max-width:1540px){
nav{
    width: 1515px;
    height: 70px;
    margin-top:-20px;
}
nav ul li a{
    font-size:13px;
    padding-left:60px;
}
nav .logo{
    margin-left:-100px;
    margin-top:-10px;
    font-size:25px;
    font-weight: 500;
} 
nav .logo span{
    font-size:30px;
}
.icon a{
    font-size:18px;
}
.slider{
    width: 1515px;
    height:550px;
}
.products{
    display: flex;
    width: 1515px;
    height:400px;
    padding-left: 10px;
    background-color: rgb(0, 0, 0);
}
.items{
    width:250px;
    height:330px;
    background-color: rgb(242, 248, 248);
    margin-left:40px;
    margin-top:30px;
}
.items img{
    width:250px;
    height:180px;
}
.items img:hover{
    height:185px;
}
.items1{
    font-size:20px;
}
.items2{
    font-size:20px;
}
.items button{
    font-size:16px;
    width: 120px;
}
.items button:hover{
    width: 125px;
    height:33px;
}
.items label{
    font-size:20px;
}
.items select{
    font-size:20px;
}
.items input{
    font-size:16px;
    width: 120px;
    height:30px;
    margin-left:8px;
}
.items input:hover{
    width: 123px;
    height:33px;
}
.items select option{
    font-size:16px;
}
.shopnow{
    font-size: 40px;
    width: 1515px;
}
.services{
    width: 1515px;
    margin-left:-150px;
}
.circle{
    width:70px;
    height:70px;
    font-size:30px;
}
.services1 p{
margin-top:-60px;
margin-left:100px;
padding-right:5;
font-size:20px;
}
.services1 span{
    margin-left:100px;
}
}