*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 1872px;
    height: 90px;
    display: flex;
    padding:40px 200px;
    transition:0.6s;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    position: relative;
    list-style:none;
    display: flex;
    padding-left:150px;
    padding-right:300px;
}

nav ul li a{
    text-decoration: none;
    padding-left:90px;
    color: black;
    font-size:16px;
    font-weight: 550;
}
nav ul li a:hover{
    color: orangered;
    transition:0.3s;
}
nav .logo {
    margin-top:-20px;
    font-size:40px;
    letter-spacing:3px;
    font-weight:500;
    color: rgb(65, 62, 62);
}
nav .logo span{
    font-weight: bold;
    color: orangered;
    font-size:50px;
}
.icon a{
    padding-left:50px;
    color: black;
    font-size:20px;
}
.icon a:hover{
    color: orangered;
    transition:0.3s;
}
.slider{
    width: 1872px;
    height:650px;
    
}
.products{
    width: 1872px;
    height:500px;
    display:flex;
    padding-left: 100px;
}
.items{
    width:300px;
    height:400px;
    background-color: rgb(221, 221, 221);
    margin-left:40px;
    margin-top:30px;
    border-radius:10px;
}

.items img{
    width:300px;
    height:200px;
}
.items img:hover{
    width:310px;
    height:210px;
    transition:0.5s;
}
.products1{
    display: flex;
    }
.items1{
    text-align: center;
    margin-top:10px;
    font-size:25px;
}
.items2{
    font-size:25px;
    margin-left:20px;
    margin-top:20px;
}
.items button{
    font-size:18px;
    margin-left:20px;
    margin-top:15px;
    width: 150px;
    border-radius:20px;
    background-color: rgb(250, 101, 47);
    color: white;
    border:none;
}
.items button:hover{
    background-color:orangered;
    color: black;
}
.items form{
    margin-top: 30px;
    margin-left:20px;
}
.items select{
    border: none;
    outline: none;
    font-size:25px;
    margin-left:10px;
    background-color: rgba(0, 0, 0, 0);
}
.items select option{
    font-size:20px;
    background-color: rgb(26, 26, 26);
    color: white;
}
.items label{
    font-size:25px;
}
.items input{
    font-size:18px;
    margin-left:20px;
    width: 150px;
    height:40px;
    border-radius:20px;
    margin-top:-10px;
    word-spacing:2px;
    background-color: rgb(250, 101, 47);
    color: white;
    border:none;
}
.items input:hover{
    background-color:orangered;
    color: black;
}
